<launch>
  <node
    pkg="depth_imaging_package"
    type="depth_subscriber.py"
    name="depth_subscriber" 
    output="screen"
  />
  <node
    pkg="depth_imaging_package"
    type="depth_publisher.py"
    name="depth_publisher"
    output="screen"
  />
  <node
    pkg="depth_imaging_package"
    type="contour_subscriber.py"
    name="contour_subscriber"
    output="screen"
  />
</launch> 
